/* selectors */
html {
    font-size: 62.5%; /* 1rem = 10px (62.5% of default 16px) */
  }

*{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3:first-letter{
    color: rgb(197, 116, 18);
}

li:first-child{
    color: aqua;
}

table{
    border: 0.2rem solid black;
    color: rgb(143, 209, 36) !important;
}

.para{
    color: blueviolet;
}

#list{
    text-decoration:underline;
}

footer p{
    text-shadow: 2px 2px 5px red;
}

table+p{
    color: blue;
}

footer .para2{
    text-decoration: underline;
}

nav::after{
    content: "See more?";
    border:1px rgb(182, 33, 33) dotted;
    position: absolute;
    right:20px
}

button:hover{
    color: rgb(236, 58, 227);
}

a:visited{
    color: rgb(226, 43, 153);
}

a:hover{
    text-decoration: none;
}

a:active{
    color:red;
}

table,form,ol,ul{
    color: rgb(131, 89, 171);
}

div p{
    color: brown;
}

div>p{
    color: rgb(99, 42, 165);
}

div+p{
    background-color: bisque;
}

div~p{
    text-decoration: line-through;
}

input[type="text"]{
    background-color: blue;
}

/* starts with https */
a[href^="https"]{
    background-color: rgb(172, 201, 93);
}

/* contains https */
a[href*="https"] {
    text-decoration: line-through;
}

P:not(.nes){
    background-color: blanchedalmond;
}

.box1{
    border: 1px solid black;
    background-color: rgb(118, 118, 196);
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 20px;
}

.box2{
    border: 0.2rem solid black;
    background-color: rgb(118, 118, 196);
    box-sizing:content-box;
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    margin: 2rem;
}
