/* selectors */
html {
    font-size: 62.5%; /* 1rem = 10px (62.5% of default 16px) */
  }

*{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3:first-letter{
    color: rgb(197, 116, 18);
}

li:first-child{
    color: aqua;
}

table{
    border: 0.2rem solid black;
    color: rgb(143, 209, 36) !important;
}

.para{
    color: blueviolet;
}

#list{
    text-decoration:underline;
}

footer p{
    text-shadow: 0.2rem 0.2rem 0.5rem red;
}

table+p{
    color: blue;
}

footer .para2{
    text-decoration: underline;
}

nav::after{
    content: "See more?";
    border:0.1px rgb(182, 33, 33) dotted;
    position: absolute;
    right:2rem;
}

button:hover{
    color: rgb(236, 58, 227);
}

a:visited{
    color: rgb(226, 43, 153);
}

a:hover{
    text-decoration: none;
}

a:active{
    color:red;
}

table,form,ol,ul{
    color: rgb(131, 89, 171);
}

div p{
    color: brown;
}

div>p{
    color: rgb(99, 42, 165);
}

div+p{
    background-color: bisque;
}

div~p{
    text-decoration: line-through;
}

input[type="text"]{
    background-color: blue;
}

/* starts with https */
a[href^="https"]{
    background-color: rgb(172, 201, 93);
}

/* contains https */
a[href*="https"] {
    text-decoration: line-through;
}

p:not(.nes){
    background-color: blanchedalmond;
}

.box1{
    border: 0.2rem solid black;
    background-color: rgb(118, 118, 196);
    box-sizing: border-box;
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    margin: 2rem;
}

.box2{
    border: 0.2rem solid black;
    background-color: rgb(118, 118, 196);
    box-sizing:content-box;
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    margin: 2rem;
}

.units{
    border: 0.2rem solid rgb(0, 0, 0);
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    margin: 2rem;
}

.per{
    height: 20%;
    width: 20%;
    background-color: rgb(241, 14, 14);
}
.px{
    height: 20px;
    width: 20px;
    background-color: rgb(241, 14, 14);
}
.rem{
    height: 20rem;
    width: 20rem;
    background-color: rgb(241, 14, 14);
}
.em{
    height: 20em;
    width: 20em;
    background-color: rgb(241, 14, 14);
}
.vw-vh{
    height: 20vh;
    width: 20vw;
    background-color: rgb(241, 14, 14);
}

.flex{
    border: 0.2rem solid rgb(0, 0, 0);
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    margin: 2rem;
    background-color: aquamarine;
}

.flex-r{
    display: flex;
    height: fit-content;
    width: 80vw;
    background-color: brown;
    border: 0.3rem black solid;
    margin: 1rem;
}

.item1{
    border: 0.2rem solid rgb(0, 0, 0);
    height: 2rem;
    width: 3rem;
    padding: 1rem;
    margin: 2rem;
    background-color: beige;
}